

<table class="table table-striped table-bordered">
  <thead class="thead-dark">
    <tr>
      <th style="width: 5%">#</th>
      <th style="width: 45%">Nome</th>
      <th style="width: 5%">Nota 1</th>
      <th style="width: 5%">Nota 2</th>
      <th style="width: 5%">Média</th>
      <th style="width: 25%">Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let aluno of alunos; index as indice">
      <td>{{ indice+1 }}</td>
      <td>{{ aluno.nome }}</td>
      <td>{{ aluno.nota1 }}</td>
      <td>{{ aluno.nota2 }}</td>
      <td style="font-weight: 600;"[ngStyle]="{color: (aluno.nota1+aluno.nota2)/2<7 ? ' red' : 'green'}">{{ aluno | media | number: '1.0-2'}}</td>
      <td>
        <button class="actions btn btn-primary btn-sm"   data-bs-toggle="modal"
        data-bs-target="#modalFormulario" (click)="editar(aluno)" [disabled]="emEdicao">
          Editar
        </button>
        <button class="actions btn btn-danger btn-sm" (click)="excluir(aluno)" [disabled]="emEdicao">
          Excluir
        </button>
      </td>
    </tr>
  </tbody>
</table>
